MONGODB_URI=
MONGODB_DB=dev
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
AUTH_SECRET=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
MIGRATION_FIRST_BUSINESS_SLUG=
NEXT_PUBLIC_APP_URL=http://localhost:3000
